# mac capture worker environment example
AGENT_CHARTS_SIGNAL_BASE_URL=http://127.0.0.1:8080
CAPTURE_WORKER_TOKEN=change-me
CAPTURE_LAYOUT_PATH=mac/agent_charts_screen/layout.json
CAPTURE_APP_WINDOW=Firefox

TV_WINDOW_OWNER=TradingView
TV_WINDOW_TITLE_TEMPLATE={symbol} / {tf}
TV_WINDOW_WIDTH=1738
TV_WINDOW_HEIGHT=858
TV_WINDOW_RESIZE_WAIT_SECONDS=0.35
TV_RESIZE_AND_DISMISS_BANNER=false
TV_CALIBRATE_WINDOW_SIZE=true
TV_SHOW_WINDOW_ON_CALIBRATION=true
TV_DISMISS_BANNER=true
TV_WINDOW_CALIBRATE_SIZE=true
TV_WINDOW_SHOW_DURING_CALIBRATION=false
TV_CROP_X=58
TV_CROP_Y=78
TV_CROP_W=1308
TV_CROP_H=740
TV_TIMEFRAME_4H=True
TV_TIMEFRAME_1H=True
TV_TIMEFRAME_30M=False
TV_TIMEFRAME_15M=True
TV_TIMEFRAME_5M=True
TV_TIMEFRAME_1M=False

LIQUIDATION_HEATMAP_WINDOW_OWNER=Safari
LIQUIDATION_HEATMAP_WINDOW_TITLE=Liquidation Heatmap
LIQUIDATION_HEATMAP_REFRESH_WAIT_SECONDS=7
CG_WINDOW_SCROLL=440
CG_CROP_X=300
CG_CROP_Y=60
CG_CROP_W=1378
CG_CROP_H=828
APP_WINDOW=TradingView
